<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class=""><a href="/" title="Home">Home</a></li>
		<!-- <li class=""><a href="/about" title="About">About</a></li> -->
		<li class="passive"><a href="https://drive.google.com/open?id=1kqJ5pYRfXvmxmedHyTEieo0fqU67dcCY" title="CV" target="_blank">CV</a></li>
		<li class=""><a href="/projects" title="Portfolio">Portfolio</a></li>
		<li class=""><a href="/writing" title="Writing">Writing</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">ztblick</a></h3>
</div> <!-- /header -->